.detailCard {
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 38%;
}
.accountImg {
  height: 200px;
}
.userDataList {
  width: 100%;
}
.accountTitle {
  font-weight: 600;
  font-size: 35px;
  margin: 15px;
}
.accountInfo {
  list-style: none;
  padding: 12px 15px;
  background-color: #e8eaed;
  margin-bottom: 12px;
  border-radius: 4px;
  font-weight: 400;
  width: 100%;
}
.boldTitle {
  font-weight: 500;
}
.logoutBtn {
  background-color: #181818;
  padding: 8px 12px;
  color: #e8eaed;
  font-weight: 500;
  margin-top: 12px;
  border-radius: 4px;
  cursor: pointer;
}
/* .deleteCard {
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 38%;
  background-color: inherit;
}
.deleteTitle {
  font-weight: 600;
  font-size: 24px;
  margin: 15px;
  color: #ef4444;
}
.deleteBtn {
  border: 1.5px solid #ef4444;
  background-color: #fff;
  padding: 8px 10px;
} */
