.appMainDiv {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 80%;
}
.appDescription {
  width: 100%;
}
.appTitle {
  font-weight: 600;
  font-size: 40px;
}
.appTitleMob {
  font-weight: 600;
  font-size: 40px;
  display: none;
}
.appSubTitle {
  font-weight: 400;
  font-size: 20px;
  margin-top: 20px;
}
.appDesc {
  margin-top: 20px;
  border-radius: 6px;
  width: 90%;
}
.highlight {
  background-color: #e8eaed;
  padding: 2px 10px;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px,
    rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
}
.appPreviewImage {
  height: 480px;
  object-fit: contain;
  width: 45%;
  margin-top: 60px;
}
.appDesList {
  list-style: none;
  background-color: #e8eaed;
  padding: 8px 12px;
  border-radius: 4px;
  display: inline-block;
  margin-right: 20px;
  font-size: 14px;
}
.appDownArea {
  display: flex;
  justify-content: flex-start;
  margin-top: 30px;
  align-items: center;
}
.downloadAppBtn {
  padding: 8px 12px;
  font-weight: 500;
  background-color: #181818;
  color: #e8eaed;
  border-radius: 4px;
  font-size: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: 0.5s ease;
  border: 1.2px solid #181818;
}
.downloadAppBtn:hover {
  scale: 1.1;
  transition: 0.5s ease;
  background-color: #e8eaed;
  color: #181818;
}
.downIcon {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  margin-left: 8px;
}
.qrArea {
  background-color: #e8eaed;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-right: 60px;
  padding: 15px;
  box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px,
    rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
  border-radius: 8px;
}
.qrCode {
  width: 180px;
  border-radius: 4px;
}
.downBtnArea {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

@media only screen and (min-width: 1300px) {
  .appTitle {
    font-weight: 600;
    font-size: 50px;
  }
  .appMainDiv {
    width: 75%;
  }
  .appPreviewImage {
    height: 650px;
    width: 45%;
  }
  .appSubTitle {
    font-weight: 400;
    font-size: 25px;
    margin-top: 30px;
  }
  .appDesc {
    margin-top: 30px;
  }
  .qrCode {
    width: 220px;
  }
}
@media only screen and (max-width: 800px) {
  .appMainDiv {
    display: flex;
    flex-direction: column-reverse;
    justify-content: space-evenly;
    align-items: center;
    width: 80%;
  }
  .appTitle {
    display: none;
  }
  .appTitleMob {
    display: block;
    width: 100%;
    margin-bottom: 10px;
    text-align: center;
    font-size: 26px;
    background-color: #e8eaed;
    padding: 4px 8px;
    border-radius: 4px;
  }
  .appPreviewImage {
    width: 100%;
    margin: 20px;
  }
  .appSubTitle {
    text-align: center;
    margin: 12px 0;
  }
  .appDesc {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 10px;
    margin: 15px 10px;
    width: 100%;
  }
  .appDesList {
    font-size: 12px;
  }
  .appDownArea {
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
  }
  .qrArea {
    margin: 20px 0;
  }
}
