.navContainer {
  width: 100vw;
  padding: 15px 30px;
  display: flex;
  justify-content: space-between;
  position: absolute;
  top: 0;
}
.navTitle {
  font-weight: 600;
  font-size: 24px;
  color: #181818;
  transition: 0.5s ease;
  cursor: pointer;
}
.navTitle:hover {
  transition: 0.5s ease;
  scale: 1.1;
}
.appDownBtn {
  color: #e8eaed;
  border: none;
  padding: 6px 12px;
  border-radius: 4px;
  cursor: pointer;
  background-color: #181818;
  font-weight: 500;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.5s ease;
  border: 1.2px solid #181818;
}
.appDownBtn:hover {
  background-color: #e8eaed;
  color: #181818;
  transition: 0.5s ease;
}
.downIcon {
  display: flex;
  justify-content: center;
  align-items: center;
}
.appBackBtn {
  color: #181818;
  border: none;
  padding: 8px 15px;
  border-radius: 4px;
  cursor: pointer;
  background-color: #e8eaed;
  font-weight: 500;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.5s ease;
}
.appBackBtn:hover {
  scale: 1.1;
  transition: 0.5s ease;
}
.backIcon {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 6px;
  font-size: 18px;
}
@media only screen and (max-width: 800px) {
  .navContainer {
    justify-content: center;
    position: unset;
  }
  .navTitle {
    display: none;
  }
  .appDownBtn,
  .appBackBtn {
    display: none;
  }
}
